{% extends "article_block.jinja" %}

{% set date = "2002-12-13" %}
{% set order = 0 %}
{% set title = "T4983e5167055" %}
{% set tag_list = ['tag-3'] %}

{% set content %}
<p>content 61aafc35e5de703d9f393302446adc1ba8df2efa118fadcfc36121ca56418526</p>
{% endset %}
