{% extends "article_block.jinja" %}

{% set date = "2002-12-19" %}
{% set order = 1 %}
{% set title = "T317e8029be88" %}
{% set tag_list = ['tag-1'] %}

{% set content %}
<p>content 69c74aa7f3db3020dd474ead143d5d174cee1930eef4f9880ed796bae38b4fae</p>
{% endset %}
