{% extends "article.html.jinja" %}

{% set date = "2002-12-20" %}
{% set order = 0 %}
{% set title = "Tc241ff285df1" %}
{% set tag_list = ['tag-2'] %}

{% block article %}
<p>content 43126ee3db5b2b9a8d50fb70539303a2732f30d6d97610a22fbba83ed74b9c0e</p>
{% endblock %}
