{% extends "article_block.jinja" %}

{% set date = "2002-12-01" %}
{% set order = 0 %}
{% set title = "Tace8c1439c29" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 65cdd2d17ce056c71f3c0eb69fa525e72ea8e70df93a4b0a2b50d0d814ecacad</p>
{% endset %}
