{% extends "article_block.jinja" %}

{% set date = "2002-12-13" %}
{% set order = 1 %}
{% set title = "Te30835d3a207" %}
{% set tag_list = ['tag-0'] %}

{% set content %}
<p>content f7844f25a534248230312ebdd78fbb88351ebc32eaf867f5c5823e507c37b51d</p>
{% endset %}
