{% extends "article_block.jinja" %}

{% set date = "2002-02-28" %}
{% set filename = "fnT770b335876fc" %}
{% set order = 0 %}
{% set title = "T770b335876fc" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2'] %}

{% set content %}
<p>content 6c7f6f892ec33f65f43ae28432247173345caf7301285a7c9cf8cd6407d13d42</p>
{% endset %}
