{% extends "article_block.jinja" %}

{% set date = "2002-02-03" %}
{% set order = 0 %}
{% set title = "T9fd63cb7a238" %}
{% set tag_list = ['tag-1', 'tag-2'] %}

{% set content %}
<p>content f6485d1d12430aacc017b9ec5ff52ef4fd0080a16e40d18cd1f2c47902495f73</p>
{% endset %}
