{% extends "article_block.jinja" %}

{% set date = "2002-02-14" %}
{% set filename = "fnT851b468f2703" %}
{% set order = 0 %}
{% set title = "T851b468f2703" %}
{% set tag_list = ['tag-1', 'tag-3'] %}

{% set content %}
<p>content 03b909804aca3b006ef98067ef9db41af3f769b26f2c326e85ac6b3032899946</p>
{% endset %}
