{% extends "article_block.jinja" %}

{% set date = "2002-02-14" %}
{% set filename = "fnT0ee9879b75fc" %}
{% set order = 1 %}
{% set title = "T0ee9879b75fc" %}
{% set tag_list = ['tag-1'] %}

{% set content %}
<p>content c7eaddde95e6b67734ad6b00d60fdb235384280c9127b7d1c0ea7576ad651307</p>
{% endset %}
