{% extends "article.html.jinja" %}

{% set date = "2002-02-28" %}
{% set order = 2 %}
{% set title = "T8b2b970fc98f" %}
{% set tag_list = ['tag-0', 'tag-3'] %}

{% block article %}
<p>content 889b050b9e629320a96ffeea5659b1ac9f864bcf92e96ad5dcd4e7ecef4a8464</p>
{% endblock %}
