{% extends "article_block.jinja" %}

{% set date = "2002-01-14" %}
{% set filename = "fnTb54a933187c6" %}
{% set order = 1 %}
{% set title = "Tb54a933187c6" %}
{% set tag_list = ['tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content c2efb363c352b6f14392e8872537a300405f3025dd812065d0ab8d2c13e100d1</p>
{% endset %}
