{% extends "article_block.jinja" %}

{% set date = "2002-01-06" %}
{% set order = 2 %}
{% set title = "T9b53db4095b4" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% set content %}
<p>content 40c1dcc65b224f2c806684d0ae0534dc13de90547c05fef26ac55db6b5393d50</p>
{% endset %}
