{% extends "article.html.jinja" %}

{% set date = "2002-01-28" %}
{% set order = 2 %}
{% set title = "T97782e363c20" %}
{% set tag_list = ['tag-3'] %}

{% block article %}
<p>content d431ba509e4a95a423f12640639cdacebc79c42c62c1e3224229877a3aa37e52</p>
{% endblock %}
