{% extends "article_block.jinja" %}

{% set date = "2002-01-03" %}
{% set order = 0 %}
{% set title = "T4f0e2ef8d063" %}
{% set tag_list = ['tag-3'] %}

{% set content %}
<p>content c66ebb30f9cd422b5350448f990b266c66ed8349b37f4b25afbdc46170f28061</p>
{% endset %}
