{% extends "article.html.jinja" %}

{% set date = "2002-01-07" %}
{% set order = 1 %}
{% set title = "Tc50b76f4921e" %}
{% set tag_list = ['tag-1'] %}

{% block article %}
<p>content 0be866599e0d328bc607acac348326d7d406947c48dc8d819c7487053bfc8ee2</p>
{% endblock %}
