{% extends "article_block.jinja" %}

{% set date = "2000-09-04" %}
{% set order = 2 %}
{% set title = "Tf856fecf1bb7" %}
{% set tag_list = ['tag-0', 'tag-3'] %}

{% set content %}
<p>content 8af550b4324a0ccf587081e915ccdd70d67bdea71251938444be5f19cc4c7a0e</p>
{% endset %}
