{% extends "article_block.jinja" %}

{% set date = "2000-09-26" %}
{% set filename = "fnT636fe0aaa68a" %}
{% set order = 1 %}
{% set title = "T636fe0aaa68a" %}
{% set tag_list = ['tag-1', 'tag-2'] %}

{% set content %}
<p>content c66bac69cf4e82aa93219cf33222ab0ee3b67158bba01b89a8c65d7853db3c32</p>
{% endset %}
