{% extends "article_block.jinja" %}

{% set date = "2000-09-11" %}
{% set filename = "fnT4893b395c9fc" %}
{% set order = 0 %}
{% set title = "T4893b395c9fc" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2'] %}

{% set content %}
<p>content 2ae2910de8c5a8b89be9b5a346cf6c70bd538f73030a20038a06e9b89ed7f374</p>
{% endset %}
