{% extends "article.html.jinja" %}

{% set date = "2000-09-06" %}
{% set order = 1 %}
{% set title = "T5a446f9babc7" %}
{% set tag_list = [] %}

{% block article %}
<p>content db3f89ac07ac30dc710b126edcfbe06f775b563383060b807de7646fa4fcdc6d</p>
{% endblock %}
