{% extends "article_block.jinja" %}

{% set date = "2000-09-26" %}
{% set order = 0 %}
{% set title = "T3a415832917b" %}
{% set tag_list = ['tag-1', 'tag-3'] %}

{% set content %}
<p>content a82e9e55a0932880dac492db0eeba2e7d99898143bf17379de5663a9b7ea324f</p>
{% endset %}
