{% extends "article_block.jinja" %}

{% set date = "2000-09-19" %}
{% set filename = "fnTb2295695423c" %}
{% set order = 1 %}
{% set title = "Tb2295695423c" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% set content %}
<p>content f7fed76651652bd7f955e76c3861609eed0fe35bdb1991d0c4ec2c67da32526e</p>
{% endset %}
