{% extends "article.html.jinja" %}

{% set date = "2000-09-02" %}
{% set order = 0 %}
{% set title = "Te6e2e935761f" %}
{% set tag_list = ['tag-3'] %}

{% block article %}
<p>content 9de6ccb0e4da4964b43b5cd62bc98c4d690157587a322d6b719fa334a77e87a4</p>
{% endblock %}
