{% extends "article_block.jinja" %}

{% set date = "2000-09-26" %}
{% set filename = "fnTbf4f72b3a5e5" %}
{% set order = 2 %}
{% set title = "Tbf4f72b3a5e5" %}
{% set tag_list = ['tag-0', 'tag-1'] %}

{% set content %}
<p>content 07ac09dcacbdd56eb4af2c3b51eb75abb1f5fa15f975eb6774e625d9d76ea13f</p>
{% endset %}
