{% extends "article_block.jinja" %}

{% set date = "2000-09-05" %}
{% set order = 2 %}
{% set title = "T7854c4687bdc" %}
{% set tag_list = ['tag-1', 'tag-2'] %}

{% set content %}
<p>content 82251d5f4837bd51f66af6fbf16c1beed907a98657d257377d96ca3807f29ac8</p>
{% endset %}
