{% extends "article_block.jinja" %}

{% set date = "2002-03-23" %}
{% set order = 2 %}
{% set title = "T5a0458badf6d" %}
{% set tag_list = ['tag-3'] %}

{% set content %}
<p>content c1538d49111dd9b9209da36a3edfbfda1b0034e00fd30e8c1be55916d8f4b8c1</p>
{% endset %}
