{% extends "article_block.jinja" %}

{% set date = "2002-03-01" %}
{% set order = 2 %}
{% set title = "T318ff2eadeeb" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-3'] %}

{% set content %}
<p>content 5b043cf8dfacf0cf86dfcee83eadff2ffd55d4824f187d63eeb038dc3cbdea8c</p>
{% endset %}
