{% extends "article_block.jinja" %}

{% set date = "2002-03-26" %}
{% set order = 0 %}
{% set title = "Tb90d8ec9c084" %}
{% set tag_list = ['tag-0', 'tag-3'] %}

{% set content %}
<p>content 5c45c658fe3324c42dca99d11cfde0b13d7b6e2cad63b4b6f8753c8ae344d631</p>
{% endset %}
