{% extends "article.html.jinja" %}

{% set date = "2002-03-30" %}
{% set order = 1 %}
{% set title = "Te4c74b1e4aa2" %}
{% set tag_list = ['tag-1', 'tag-3'] %}

{% block article %}
<p>content 29c21f6508c65d92ea62d19441320607bbc3315d673e7341dc4e95f653088570</p>
{% endblock %}
