{% extends "article_block.jinja" %}

{% set date = "2002-03-21" %}
{% set order = 1 %}
{% set title = "T5a1c19d4c80d" %}
{% set tag_list = ['tag-0', 'tag-1'] %}

{% set content %}
<p>content 3710fef8409c9de59cb5a0283aad3d5cb1f8d4169c42bd4496e6fed79aa3b2e2</p>
{% endset %}
