{% extends "article_block.jinja" %}

{% set date = "2002-03-26" %}
{% set order = 1 %}
{% set title = "Tf7bf246b3dce" %}
{% set tag_list = [] %}

{% set content %}
<p>content 8b085ec78691af230f6ae87ce7fefaa1c3a277b110c71204cfbd421f3c6baada</p>
{% endset %}
