{% extends "article_block.jinja" %}

{% set date = "2002-03-04" %}
{% set order = 2 %}
{% set title = "T0af313729e64" %}
{% set tag_list = [] %}

{% set content %}
<p>content 1df1974e8656d2814c1bff0b2075c52a974f6c9fd60608c13daf131387d8764c</p>
{% endset %}
