{% extends "article_block.jinja" %}

{% set date = "2002-03-30" %}
{% set order = 0 %}
{% set title = "T2ea025a4536c" %}
{% set tag_list = ['tag-0'] %}

{% set content %}
<p>content 4219e8dd129ac2f9811ca5ba168ca01a1f969ac2bbd42546fe2c462fd8521f64</p>
{% endset %}
