{% extends "article.html.jinja" %}

{% set date = "2000-07-30" %}
{% set order = 2 %}
{% set title = "T342115153338" %}
{% set tag_list = ['tag-0'] %}

{% block article %}
<p>content 6a0abeb5c0344a551d2a69148b093822e9bfacfa5a5a2c1412ee2829b9ae7365</p>
{% endblock %}
