{% extends "article_block.jinja" %}

{% set date = "2000-07-23" %}
{% set order = 0 %}
{% set title = "T11304af0c359" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% set content %}
<p>content 84c8257af8b180ebc24aef7c78aeb594fe24f9fba9f08961cd7cec11b87d3022</p>
{% endset %}
