{% extends "article_block.jinja" %}

{% set date = "2000-07-08" %}
{% set filename = "fnT43ebbc8d0b60" %}
{% set order = 2 %}
{% set title = "T43ebbc8d0b60" %}
{% set tag_list = [] %}

{% set content %}
<p>content 303a17f2bfdec0702664da32cd2469702d14bbc7c257ae21da2988deab556164</p>
{% endset %}
