{% extends "article_block.jinja" %}

{% set date = "2000-07-30" %}
{% set order = 1 %}
{% set title = "Tf509d9cddb9e" %}
{% set tag_list = ['tag-2'] %}

{% set content %}
<p>content 214d3e273efa71d3d6595c89eb3c7de8a9d22f6e70ca9df445f7e56f4e52a15d</p>
{% endset %}
