{% extends "article.html.jinja" %}

{% set date = "2000-07-22" %}
{% set order = 2 %}
{% set title = "T76dc9deb121c" %}
{% set tag_list = ['tag-1', 'tag-2'] %}

{% block article %}
<p>content 08a1802f93e28a532150f38ff04ddc5f9c80a8c335c97b0d8abc879339f5f565</p>
{% endblock %}
