{% extends "article.html.jinja" %}

{% set date = "2000-07-22" %}
{% set order = 0 %}
{% set title = "T6aede91781c4" %}
{% set tag_list = ['tag-3'] %}

{% block article %}
<p>content 82647bc3b60ff09c147d684c8db6eda3b4027c40af58ab23629e84a0f8278905</p>
{% endblock %}
