{% extends "article_block.jinja" %}

{% set date = "2000-07-26" %}
{% set order = 1 %}
{% set title = "Tc212dbd726bc" %}
{% set tag_list = ['tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 97c1eb8143a2626da3605c408b436fba9803b50793e74888437730e3d919a142</p>
{% endset %}
