{% extends "article.html.jinja" %}

{% set date = "2003-05-29" %}
{% set order = 1 %}
{% set title = "Te9003cedaf18" %}
{% set tag_list = ['tag-0'] %}

{% block article %}
<p>content 2f3c19fef3d9ee408fec872b0715bdd8b44645a68e0181df0f0b12653c870713</p>
{% endblock %}
