{% extends "article_block.jinja" %}

{% set date = "2003-05-10" %}
{% set order = 0 %}
{% set title = "Tb8bde4edaba1" %}
{% set tag_list = ['tag-0', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content fdc6db7a2a53ce1852c3527204ba43049ef12484e7bf282f36dc49ff13769cf0</p>
{% endset %}
