{% extends "article_block.jinja" %}

{% set date = "2003-05-31" %}
{% set order = 0 %}
{% set title = "Tcedf7d583dba" %}
{% set tag_list = ['tag-0'] %}

{% set content %}
<p>content 7c4c392463f637db85e62d6c7aca68dfd5e206e2fd138d0566f2b7d1d99b9964</p>
{% endset %}
