{% extends "article.html.jinja" %}

{% set date = "2003-05-22" %}
{% set order = 1 %}
{% set title = "Tcc8662e05b93" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2'] %}

{% block article %}
<p>content 16f7074f0ca92f48c6030c7aad175c6b0a6dbdca91a939cced69f99798895105</p>
{% endblock %}
