{% extends "article_block.jinja" %}

{% set date = "2003-05-26" %}
{% set filename = "fnT8077259afbfe" %}
{% set order = 2 %}
{% set title = "T8077259afbfe" %}
{% set tag_list = ['tag-1', 'tag-2'] %}

{% set content %}
<p>content af021591666e012bd502bcfff0ef277c70c94eed484a9b5c70efcd295a5ff8aa</p>
{% endset %}
