{% extends "article_block.jinja" %}

{% set date = "2003-05-02" %}
{% set order = 0 %}
{% set title = "Tfab276c1869a" %}
{% set tag_list = ['tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content a5f13e8f884916ee1aa3874ef231036998d727b9e93416eca05e4b1d7ae6190d</p>
{% endset %}
