{% extends "article_block.jinja" %}

{% set date = "2003-05-14" %}
{% set order = 0 %}
{% set title = "T62a01ab242ec" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% set content %}
<p>content 85ca6894a36ef9f6a33ac8383f6fe496b084e69d1a09178dca747658d238e6e0</p>
{% endset %}
