{% extends "article_block.jinja" %}

{% set date = "2003-05-02" %}
{% set order = 1 %}
{% set title = "T34ccfb07fc1b" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% set content %}
<p>content c3b4bf4282b16f4402ecdcdc36bf644f8f8cea3ba3d48e047fc693d17bcec06b</p>
{% endset %}
