{% extends "article.html.jinja" %}

{% set date = "2003-05-22" %}
{% set order = 2 %}
{% set title = "T0132562a386d" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-3'] %}

{% block article %}
<p>content b4114e4457a24f70ad27d152b10cb494c0a1f5c19a72bd982a406784834b904e</p>
{% endblock %}
