{% extends "article_block.jinja" %}

{% set date = "2003-05-10" %}
{% set order = 1 %}
{% set title = "T054544397033" %}
{% set tag_list = ['tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 3f5d4d3493074bfa65b0e7e37de54cc5c8c26117be541d881a3beb816f6c9a1f</p>
{% endset %}
