{% extends "article.html.jinja" %}

{% set date = "2003-05-15" %}
{% set order = 0 %}
{% set title = "Td1418c6e71ee" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% block article %}
<p>content e9ef92fe0920577d4e42d62e5289211806c5d961ba183ef696aa5c1497d18258</p>
{% endblock %}
