{% extends "article_block.jinja" %}

{% set date = "2003-05-31" %}
{% set order = 1 %}
{% set title = "T7d38d9198b2c" %}
{% set tag_list = ['tag-1', 'tag-2'] %}

{% set content %}
<p>content b5501e493d8017926f91f69e7014ddb1b5ffccc3ab0a998fddfb1fd296de10ad</p>
{% endset %}
