{% extends "article_block.jinja" %}

{% set date = "2003-05-15" %}
{% set filename = "fnT481388a4272a" %}
{% set order = 1 %}
{% set title = "T481388a4272a" %}
{% set tag_list = ['tag-2'] %}

{% set content %}
<p>content 981ee8b742ccc62a1e538d9c4f252e3411f0d970672e873650bc959d7238efd9</p>
{% endset %}
