{% extends "article_block.jinja" %}

{% set date = "2003-05-10" %}
{% set order = 2 %}
{% set title = "T3efa76807519" %}
{% set tag_list = ['tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 16ae46d62e227d4014b8ef3472cafe518010398549bc2e50340e4f43266be601</p>
{% endset %}
