{% extends "article.html.jinja" %}

{% set date = "2002-06-07" %}
{% set order = 1 %}
{% set title = "T78fe29a8babf" %}
{% set tag_list = ['tag-1', 'tag-2', 'tag-3'] %}

{% block article %}
<p>content 39129ad2e84e7a3094f14629a8e5fd286eb1bd07ce410a8245074a80a96c8a81</p>
{% endblock %}
