{% extends "article_block.jinja" %}

{% set date = "2002-06-29" %}
{% set order = 2 %}
{% set title = "T688388ab99a3" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-3'] %}

{% set content %}
<p>content 022fd77deabac4d952eada72168f4925e6d722fd2ec2957467f643f0eb6afcf4</p>
{% endset %}
