{% extends "article_block.jinja" %}

{% set date = "2002-06-27" %}
{% set filename = "fnT851361433e3a" %}
{% set order = 1 %}
{% set title = "T851361433e3a" %}
{% set tag_list = ['tag-0', 'tag-1'] %}

{% set content %}
<p>content 73094f8af7dcce08001381b1bffdd94cee47d6a70de7e6335f1314dc6c7e5455</p>
{% endset %}
