{% extends "article.html.jinja" %}

{% set date = "2002-06-16" %}
{% set order = 2 %}
{% set title = "Tb3687a6b7ec7" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% block article %}
<p>content cc9bd3f160c2910fccfa763d755c89b1f4266c467d988ab98ccf5b3098a99ea9</p>
{% endblock %}
