{% extends "article.html.jinja" %}

{% set date = "2002-06-23" %}
{% set order = 0 %}
{% set title = "Te790872dcaf8" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2', 'tag-3'] %}

{% block article %}
<p>content f9f1370cc8bb293fce73e634e495909adff645abb1cffd36c60d45d4f32d2c76</p>
{% endblock %}
