{% extends "article_block.jinja" %}

{% set date = "2002-06-04" %}
{% set filename = "fnT80c10992e888" %}
{% set order = 1 %}
{% set title = "T80c10992e888" %}
{% set tag_list = ['tag-1', 'tag-3'] %}

{% set content %}
<p>content 4d8de486d375ca58340658fbf0537c73778edd991404c9ef31e6d9290b44a420</p>
{% endset %}
