{% extends "article.html.jinja" %}

{% set date = "2002-06-29" %}
{% set order = 0 %}
{% set title = "T5880ee77da52" %}
{% set tag_list = ['tag-1', 'tag-2'] %}

{% block article %}
<p>content 6c442253d1ccfca710380dfb2e7e5514f00733cd6f75514418be276250349515</p>
{% endblock %}
