{% extends "article.html.jinja" %}

{% set date = "2002-06-16" %}
{% set order = 1 %}
{% set title = "T1c9f859ca681" %}
{% set tag_list = ['tag-0', 'tag-1'] %}

{% block article %}
<p>content dc87ba8b05cc142023cb77783fa0f4578a8ac2bf78d9907130d5ffda26f64ef8</p>
{% endblock %}
