{% extends "article_block.jinja" %}

{% set date = "2002-06-16" %}
{% set order = 0 %}
{% set title = "Tac81dac8ec08" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% set content %}
<p>content 15f3d082f5577e9653b597b9e6da3117d70820b309537ee01321cb9fa0ed87a4</p>
{% endset %}
