{% extends "article.html.jinja" %}

{% set date = "2002-06-07" %}
{% set order = 0 %}
{% set title = "T61b027357c19" %}
{% set tag_list = [] %}

{% block article %}
<p>content 03d12e0d23366aede1b8d2cbd5cc8bdc5c46228e3a33601dc159e97a47297b42</p>
{% endblock %}
