{% extends "article_block.jinja" %}

{% set date = "2002-06-29" %}
{% set filename = "fnT1c80221d2dd2" %}
{% set order = 1 %}
{% set title = "T1c80221d2dd2" %}
{% set tag_list = ['tag-2'] %}

{% set content %}
<p>content 737d3dabf554800b1d5ca9f39cb4400ec8e4247a2c8b247df6145dbc61176c36</p>
{% endset %}
