<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <script>var URL_ROOT = "{{URL_ROOT}}";</script>
  <script src="{{URL_ROOT}}/jquery-3.5.1.min.js"></script>
  <script src="{{URL_ROOT}}/blog.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
