{% extends "article_block.jinja" %}

{% set date = "2000-01-11" %}
{% set filename = "fnT8c786e140cf2" %}
{% set order = 1 %}
{% set title = "T8c786e140cf2" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% set content %}
<p>content f95baba8a361b5b2e70f462065ad365fc7ea64718709e6a94bd59a2a00a0fe00</p>
{% endset %}
