{% extends "article_block.jinja" %}

{% set date = "2000-01-31" %}
{% set filename = "fnT8239cae00041" %}
{% set order = 1 %}
{% set title = "T8239cae00041" %}
{% set tag_list = ['tag-3'] %}

{% set content %}
<p>content e6c703918439518c7d75bf963fb11beaac9bb65565d7942ed452d8ca9da9a011</p>
{% endset %}
