{% extends "article.html.jinja" %}

{% set date = "2000-01-31" %}
{% set order = 0 %}
{% set title = "T1bd13ef89deb" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% block article %}
<p>content 27708c87e2307266d758bef41c954cfbfbf1a01b2f8e7c856ecff0a6f8b74e30</p>
{% endblock %}
