{% extends "article.html.jinja" %}

{% set date = "2000-01-25" %}
{% set order = 0 %}
{% set title = "Td235820ea1a7" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% block article %}
<p>content ff9d4adba404e200a0505ad6cef7b1be3729876158a679d68002715fa0d803d4</p>
{% endblock %}
