{% extends "article_block.jinja" %}

{% set date = "2000-01-25" %}
{% set order = 2 %}
{% set title = "Ta8b65545a473" %}
{% set tag_list = ['tag-3'] %}

{% set content %}
<p>content 576e652676b0edc1be672375283f540d8d35fe71fceaf2f6d16964506fcf55a2</p>
{% endset %}
