{% extends "article.html.jinja" %}

{% set date = "2000-01-26" %}
{% set order = 0 %}
{% set title = "Tab2aaa885cec" %}
{% set tag_list = ['tag-0', 'tag-2', 'tag-3'] %}

{% block article %}
<p>content 6e104bbf18d60c6e1324119630fb1f29a106149f8d67046049b818f19e7b62db</p>
{% endblock %}
