{% extends "article.html.jinja" %}

{% set date = "2000-01-11" %}
{% set order = 0 %}
{% set title = "Taaa8a153ffe4" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% block article %}
<p>content 9c99e397316b8c06211fbb4ea947a515aef387e5b445a80a55a165c41c7a8ff2</p>
{% endblock %}
