{% extends "article_block.jinja" %}

{% set date = "2000-01-02" %}
{% set order = 0 %}
{% set title = "T0fce208c2cb8" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-3'] %}

{% set content %}
<p>content cd329ffd83788a17e03b2cd05ef3fc3659435e0ac7dc081fa073cee7f618a376</p>
{% endset %}
