{% extends "article.html.jinja" %}

{% set date = "2000-01-08" %}
{% set order = 2 %}
{% set title = "Tb6ceb0af641c" %}
{% set tag_list = ['tag-3'] %}

{% block article %}
<p>content cf52fe31eca8943098ea2087370ee6a58d60cbd86ca208cd06dda289f0cead7d</p>
{% endblock %}
