{% extends "article_block.jinja" %}

{% set date = "2000-01-02" %}
{% set filename = "fnT5d9baa1f7c36" %}
{% set order = 1 %}
{% set title = "T5d9baa1f7c36" %}
{% set tag_list = ['tag-0', 'tag-1'] %}

{% set content %}
<p>content 097d1bccf83ec72663a0676a92918591dbd3ac7aaa6cc6341d0aa466649986ae</p>
{% endset %}
