{% extends "article_block.jinja" %}

{% set date = "2000-01-02" %}
{% set order = 2 %}
{% set title = "T7b5d1f4b094d" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% set content %}
<p>content 163ff1993b054e957b9dbca7c50ac85562b0dd5b61d5fd1e54d174d9fbb7eb1d</p>
{% endset %}
