{% extends "article_block.jinja" %}

{% set date = "2000-01-15" %}
{% set order = 0 %}
{% set title = "T73f9f9446a68" %}
{% set tag_list = ['tag-0', 'tag-1'] %}

{% set content %}
<p>content b0bcba916e1d51809c120a59cebbcf74a2f7b6852c731db563c1c96afc783b28</p>
{% endset %}
