{% extends "article.html.jinja" %}

{% set date = "2003-10-31" %}
{% set order = 2 %}
{% set title = "T291b57a94843" %}
{% set tag_list = ['tag-0', 'tag-3'] %}

{% block article %}
<p>content 940e98c2b2c11541a86e7cea21fdc28842cc849cee21374887814a22d7b3218d</p>
{% endblock %}
