{% extends "article.html.jinja" %}

{% set date = "2003-10-31" %}
{% set order = 1 %}
{% set title = "T87238d78dfbb" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% block article %}
<p>content 067182acdd0e324b9b01af14c734fd467371ec59a9c5712f2ca620aa39d06664</p>
{% endblock %}
