{% extends "article.html.jinja" %}

{% set date = "2003-10-03" %}
{% set order = 2 %}
{% set title = "Te0cec09254b1" %}
{% set tag_list = ['tag-0', 'tag-1'] %}

{% block article %}
<p>content 69c88da80de4bd8d3e21fa0268ab55802868d86572975ff9f18f903f17bf47bc</p>
{% endblock %}
