{% extends "article.html.jinja" %}

{% set date = "2003-10-18" %}
{% set order = 2 %}
{% set title = "T4327ecc78dfc" %}
{% set tag_list = ['tag-0', 'tag-3'] %}

{% block article %}
<p>content 40e639ac992d289be9d3e948d80d57e145877659db534f8bdfc622d4005bbbf9</p>
{% endblock %}
