{% extends "article.html.jinja" %}

{% set date = "2003-10-18" %}
{% set order = 0 %}
{% set title = "Tc008a04a4916" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% block article %}
<p>content 85714628f5de3a9345bd2851b6d10a7d3c61c12245e90a6c1994ba760a379569</p>
{% endblock %}
