{% extends "article.html.jinja" %}

{% set date = "2002-07-01" %}
{% set order = 2 %}
{% set title = "Tc8e51484de6d" %}
{% set tag_list = ['tag-0'] %}

{% block article %}
<p>content cdb949c7d2860de812ca85556311a770ff685bce052ec2992423e846fe3a48f4</p>
{% endblock %}
