{% extends "article.html.jinja" %}

{% set date = "2002-07-02" %}
{% set order = 2 %}
{% set title = "T9d2e334b5b17" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% block article %}
<p>content 28b3d4b6581258354e4d8201e266b26d5c780d4e7ed0cee9160d9f5241097bb2</p>
{% endblock %}
