{% extends "article_block.jinja" %}

{% set date = "2002-07-31" %}
{% set order = 1 %}
{% set title = "T9f0ab8882b90" %}
{% set tag_list = [] %}

{% set content %}
<p>content 1009fd37ee48c7d4789d2b1eff22cd8a5015c760ac52bd88fd258dfe8dba46b0</p>
{% endset %}
