{% extends "article_block.jinja" %}

{% set date = "2002-07-26" %}
{% set filename = "fnT087230ed898e" %}
{% set order = 2 %}
{% set title = "T087230ed898e" %}
{% set tag_list = ['tag-0', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content e27e91290bc118ef7d6a609e1d31a0f0bc63ffa2c2c1b7df5732031fe80291fe</p>
{% endset %}
