{% extends "article_block.jinja" %}

{% set date = "2002-07-12" %}
{% set order = 2 %}
{% set title = "T1b26cbc1b486" %}
{% set tag_list = ['tag-0', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 669897f0117dfa5c59f331c695f201f25c57dd55f7d060af635c1c4461947012</p>
{% endset %}
