{% extends "article_block.jinja" %}

{% set date = "2002-07-02" %}
{% set filename = "fnT47dd557c13f3" %}
{% set order = 0 %}
{% set title = "T47dd557c13f3" %}
{% set tag_list = ['tag-1', 'tag-3'] %}

{% set content %}
<p>content d52ccc0128ad8fc31210917d6fbef4bde2755abab01c58a45f4cec780c265929</p>
{% endset %}
