{% extends "article.html.jinja" %}

{% set date = "2002-07-31" %}
{% set order = 2 %}
{% set title = "Tcc2c826178c4" %}
{% set tag_list = ['tag-1', 'tag-3'] %}

{% block article %}
<p>content 31dc5bec3903a8501b5e9d9db57029df76cff60f1f1d2ee1636cf37aead5e6cc</p>
{% endblock %}
