{% extends "article_block.jinja" %}

{% set date = "2002-07-31" %}
{% set order = 0 %}
{% set title = "Tc7fca941f7a4" %}
{% set tag_list = ['tag-0', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 06a392beab5e1cf78e2eee5faf54d4f0d7b6ec17a284fde6ddff64083c1bc6fe</p>
{% endset %}
