{% extends "article.html.jinja" %}

{% set date = "2002-07-13" %}
{% set order = 0 %}
{% set title = "T23bf33289f16" %}
{% set tag_list = ['tag-0', 'tag-2', 'tag-3'] %}

{% block article %}
<p>content 2ebf5b91b41d4287fe262937b3a41c65b4725d54e543ecc67a5777368df16193</p>
{% endblock %}
