{% extends "article_block.jinja" %}

{% set date = "2002-07-27" %}
{% set order = 0 %}
{% set title = "T233fb2646321" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% set content %}
<p>content fe0f4876a4258c7c5898cdefd0f81c9399ba79c15655533fec04f0a04cb1a423</p>
{% endset %}
