{% extends "article.html.jinja" %}

{% set date = "2003-03-25" %}
{% set order = 2 %}
{% set title = "T33f3fcbedd09" %}
{% set tag_list = ['tag-2'] %}

{% block article %}
<p>content 29daeba591480b77eed6442ef97aa6bb8c5f8b6d996445ffa3d0a75027428ebd</p>
{% endblock %}
