{% extends "article.html.jinja" %}

{% set date = "2003-03-14" %}
{% set order = 2 %}
{% set title = "T4552bc45897f" %}
{% set tag_list = ['tag-3'] %}

{% block article %}
<p>content f3e87beedb85b7e6b4309281839790296b0b526c3cdf0cd7b63efe2482675880</p>
{% endblock %}
