{% extends "article.html.jinja" %}

{% set date = "2003-03-31" %}
{% set order = 2 %}
{% set title = "T1d010fc927ca" %}
{% set tag_list = ['tag-3'] %}

{% block article %}
<p>content 08d90dd12617a2313a27245a8b22b953df2b3680bbb5c63f53fa2276b9f40fee</p>
{% endblock %}
