{% extends "article_block.jinja" %}

{% set date = "2003-03-31" %}
{% set order = 0 %}
{% set title = "Taff60af9ffb9" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2'] %}

{% set content %}
<p>content 0525644f8c6fcc611e6a04f1127a5c0755c373dfcafc0c00655874333d1cf6a1</p>
{% endset %}
