{% extends "article.html.jinja" %}

{% set date = "2003-03-31" %}
{% set order = 1 %}
{% set title = "T91c05adac7cb" %}
{% set tag_list = ['tag-1', 'tag-2', 'tag-3'] %}

{% block article %}
<p>content e11ec6bf2f15c8e6a9cc96678d4b5886bdf9632bcb8d21c8bdfb4c48feb51a83</p>
{% endblock %}
