{% extends "article.html.jinja" %}

{% set date = "2003-03-27" %}
{% set order = 1 %}
{% set title = "Td5718346f2e8" %}
{% set tag_list = ['tag-1'] %}

{% block article %}
<p>content b5c4bae9b26009fa98fe666961a13a27dacf645c368053c00921005c718b5a55</p>
{% endblock %}
