{% extends "article_block.jinja" %}

{% set date = "2003-03-25" %}
{% set order = 0 %}
{% set title = "T6a53901137a7" %}
{% set tag_list = ['tag-1'] %}

{% set content %}
<p>content d51133c49b8d5b4fe5d1395083e7f8c313eb77d55be1b3d15628dfb2f382b630</p>
{% endset %}
