{% extends "article_block.jinja" %}

{% set date = "2003-03-27" %}
{% set order = 2 %}
{% set title = "T8d01c7e4f5d0" %}
{% set tag_list = ['tag-1'] %}

{% set content %}
<p>content 5bea0b6faeafa024c1405ee7e91315038cfe0714f772eab52fb33ffda3788660</p>
{% endset %}
