{% extends "article_block.jinja" %}

{% set date = "2000-08-11" %}
{% set order = 0 %}
{% set title = "Teb377757c791" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-3'] %}

{% set content %}
<p>content c9be44505d30a8e07d4544ca9e953fedba86a03cdbf8fed7c79ca3a90a2d3e10</p>
{% endset %}
