{% extends "article_block.jinja" %}

{% set date = "2000-08-26" %}
{% set order = 0 %}
{% set title = "Td5939f0de756" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% set content %}
<p>content 5f21cb31d375b9b643e44ffe0607be9c41ff9da20f278e72da98763191b828cd</p>
{% endset %}
