{% extends "article_block.jinja" %}

{% set date = "2000-08-28" %}
{% set filename = "fnT3f6bfb4704ee" %}
{% set order = 0 %}
{% set title = "T3f6bfb4704ee" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% set content %}
<p>content 7763ecfd2b3296c7b274f9df995f573004ba7b749757b9357474c43f507fd6d7</p>
{% endset %}
