{% extends "article_block.jinja" %}

{% set date = "2000-08-26" %}
{% set order = 2 %}
{% set title = "Tb6fd1a359f2e" %}
{% set tag_list = ['tag-1', 'tag-2'] %}

{% set content %}
<p>content d307d3e0f468987fa74481475fe18283d9cc64e5b99b74cdfafc20023fabc201</p>
{% endset %}
