{% extends "article_block.jinja" %}

{% set date = "2000-08-26" %}
{% set order = 1 %}
{% set title = "T098cbedd580a" %}
{% set tag_list = ['tag-3'] %}

{% set content %}
<p>content 1ed6d1e45822b95caea630b08e90e369cc5382cc88461db37a572fb440ef04fb</p>
{% endset %}
