{% extends "article.html.jinja" %}

{% set date = "2000-08-28" %}
{% set order = 2 %}
{% set title = "T0dc0650e8a8f" %}
{% set tag_list = ['tag-1'] %}

{% block article %}
<p>content 9631b9a71f8f24a54360e267c534a080eb04a0004caab14b539f5d175895164f</p>
{% endblock %}
