{% extends "article.html.jinja" %}

{% set date = "2002-05-04" %}
{% set order = 1 %}
{% set title = "T30b150317042" %}
{% set tag_list = ['tag-3'] %}

{% block article %}
<p>content a5e7d9477b7eb50f8ecb0899780d2e167f6a5fa3bed55962f4e9f1ebdd0bc74f</p>
{% endblock %}
