{% extends "article_block.jinja" %}

{% set date = "2002-05-15" %}
{% set order = 1 %}
{% set title = "T577f8adf9010" %}
{% set tag_list = ['tag-1', 'tag-3'] %}

{% set content %}
<p>content d9744d64ec2b28326d4f5c706bba1efb3a433fe65fefd4d312fcc13c8e1e2a3d</p>
{% endset %}
