{% extends "article_block.jinja" %}

{% set date = "2002-05-14" %}
{% set order = 1 %}
{% set title = "Tc3130b2c1ac9" %}
{% set tag_list = ['tag-2'] %}

{% set content %}
<p>content b6dbbe81ad28c89214f3a579c57f1e9fea6fbe622c70dbe6089167b9e2cf99b8</p>
{% endset %}
