{% extends "article.html.jinja" %}

{% set date = "2002-05-15" %}
{% set order = 2 %}
{% set title = "T950caa882b75" %}
{% set tag_list = ['tag-1', 'tag-2'] %}

{% block article %}
<p>content 550524d62ddfd3dc4f106f322c713590b7fcd1e7e39f2d0a8324429eaa0adc67</p>
{% endblock %}
