{% extends "article_block.jinja" %}

{% set date = "2002-05-04" %}
{% set order = 2 %}
{% set title = "T908e0afbb58f" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% set content %}
<p>content 3fda50d269c3923c407e9d607810c916887f40b0fd15bcf2b2bd95e6fee0a92a</p>
{% endset %}
