{% extends "article.html.jinja" %}

{% set date = "2003-04-11" %}
{% set order = 0 %}
{% set title = "T46ba8b4ba163" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% block article %}
<p>content b4bd6e43daec124760566b6433c2b044c540a204c4e61dcf852e097fd90cec02</p>
{% endblock %}
