{% extends "article.html.jinja" %}

{% set date = "2003-04-08" %}
{% set order = 0 %}
{% set title = "T6d4c2c3c5191" %}
{% set tag_list = ['tag-0', 'tag-3'] %}

{% block article %}
<p>content 820b5ae7f347f57cc80a94d27a2f36a7fca60cdf1ee65f3075bd94207fd8a0fa</p>
{% endblock %}
