{% extends "article_block.jinja" %}

{% set date = "2003-04-11" %}
{% set filename = "fnT71db2f1f2350" %}
{% set order = 2 %}
{% set title = "T71db2f1f2350" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 6385be4f5d5ccf226c8bd6dbc390f172dd4278a3c611b44ceb7f906641a3f718</p>
{% endset %}
