{% extends "article_block.jinja" %}

{% set date = "2003-04-08" %}
{% set filename = "fnT837ef70a31d4" %}
{% set order = 1 %}
{% set title = "T837ef70a31d4" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 33244bba1a346ab33ad3c8694fcd889afdda686c58df923bb42e18af398d3d0d</p>
{% endset %}
