{% extends "article_block.jinja" %}

{% set date = "2003-04-11" %}
{% set filename = "fnT5bc066972b3e" %}
{% set order = 1 %}
{% set title = "T5bc066972b3e" %}
{% set tag_list = ['tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 1db064ce30cd3adcc4aab4cac645a6b75da663aca6f0af58ae85a372d68da69b</p>
{% endset %}
