{% extends "article_block.jinja" %}

{% set date = "2003-04-02" %}
{% set order = 0 %}
{% set title = "Ta0b009a56fcd" %}
{% set tag_list = ['tag-0', 'tag-3'] %}

{% set content %}
<p>content fda0dfb1a58dff4b60f576d4eeb5772c67bf6c6975802c97ec90e881428fda70</p>
{% endset %}
