{% extends "article.html.jinja" %}

{% set date = "2003-04-02" %}
{% set order = 1 %}
{% set title = "Teedbe6cc8d47" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2'] %}

{% block article %}
<p>content fa20f7f4c00d592395bde31027c454e58cc1406e3f809e564cb0bef936fdcc2f</p>
{% endblock %}
