{% extends "article_block.jinja" %}

{% set date = "2003-08-09" %}
{% set filename = "fnT744994380d53" %}
{% set order = 0 %}
{% set title = "T744994380d53" %}
{% set tag_list = ['tag-0', 'tag-3'] %}

{% set content %}
<p>content af6cf67039bd7ff9a792c903aa3cb47c69acf6d3755ff7b98daa3d985e7b5ebe</p>
{% endset %}
