{% extends "article_block.jinja" %}

{% set date = "2003-08-11" %}
{% set order = 2 %}
{% set title = "Te077f8263600" %}
{% set tag_list = ['tag-3'] %}

{% set content %}
<p>content f49e7fca352354db3a8eada0272ca89946dfc5e532ba2b089b047bde5d7fb454</p>
{% endset %}
