{% extends "article.html.jinja" %}

{% set date = "2003-08-10" %}
{% set order = 0 %}
{% set title = "T0926354924de" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2', 'tag-3'] %}

{% block article %}
<p>content 5715da82ffe6fb104a83912978ee67d1af1befad4c651fd771e01a60d97b9c19</p>
{% endblock %}
