{% extends "article_block.jinja" %}

{% set date = "2003-08-15" %}
{% set filename = "fnT7af46070e53f" %}
{% set order = 0 %}
{% set title = "T7af46070e53f" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% set content %}
<p>content 56dfc07587fdffffd6930789dc18a71dc505c098b977c041736c2282e402b380</p>
{% endset %}
