{% extends "article.html.jinja" %}

{% set date = "2003-08-13" %}
{% set order = 1 %}
{% set title = "Tc9b15b536182" %}
{% set tag_list = ['tag-0', 'tag-1'] %}

{% block article %}
<p>content e43af08d3a846b42c55c5a4c264b30f1f63fadf8829c9a659284d2e92c9f378b</p>
{% endblock %}
