{% extends "article.html.jinja" %}

{% set date = "2003-08-10" %}
{% set order = 2 %}
{% set title = "T79f1e0dd446a" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2'] %}

{% block article %}
<p>content c23685a494b99bbbb40a9acc4a673de27965e24338d38c1a2457aaaeef722dec</p>
{% endblock %}
