{% extends "article.html.jinja" %}

{% set date = "2003-08-11" %}
{% set order = 1 %}
{% set title = "Te7e53cb47ad9" %}
{% set tag_list = ['tag-0', 'tag-2'] %}

{% block article %}
<p>content bc951c86c166a0e04698576c8acb9f21c00536940e1c01c3a63fa02b572cbf7b</p>
{% endblock %}
