{% extends "article_block.jinja" %}

{% set date = "2003-08-09" %}
{% set order = 1 %}
{% set title = "T9a91d88e2e98" %}
{% set tag_list = ['tag-0', 'tag-1'] %}

{% set content %}
<p>content 14d6db45db10aabe6eb9deb1dce838592774bc25413ee76f9fc36f4821e9a7e1</p>
{% endset %}
