{% extends "article.html.jinja" %}

{% set date = "2003-08-15" %}
{% set order = 1 %}
{% set title = "Te8df0ba23511" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2'] %}

{% block article %}
<p>content d61f6c59574ec91ad902dd75dd58cc6a3a57de17f26346efb971829ea2c1ecdc</p>
{% endblock %}
