{% extends "article.html.jinja" %}

{% set date = "2003-08-10" %}
{% set order = 1 %}
{% set title = "T72b0bf60461f" %}
{% set tag_list = ['tag-0'] %}

{% block article %}
<p>content 0bfadbcd5de50b882f2a7cc55eb14daa8965cf3c731fbdacdc71e466933db232</p>
{% endblock %}
