{% extends "article_block.jinja" %}

{% set date = "2003-11-11" %}
{% set order = 2 %}
{% set title = "T8bfbe529d13f" %}
{% set tag_list = [] %}

{% set content %}
<p>content 2b7f51031bf9c1287f2b5ba889c62672b0844e7d9af87502a583960b4598109a</p>
{% endset %}
