{% extends "article_block.jinja" %}

{% set date = "2003-11-06" %}
{% set filename = "fnT43376f2c75ea" %}
{% set order = 1 %}
{% set title = "T43376f2c75ea" %}
{% set tag_list = ['tag-2'] %}

{% set content %}
<p>content 55db3d1ffc97a7cc825bacf44d4f58daea0f5e2e1dffd6d2884f15fb34b2270d</p>
{% endset %}
