{% extends "article.html.jinja" %}

{% set date = "2003-11-06" %}
{% set order = 0 %}
{% set title = "T8c1bb7cd41a6" %}
{% set tag_list = ['tag-2', 'tag-3'] %}

{% block article %}
<p>content 77b19c8b8f7ee5abb693efcd22e00d295380b89a05a9df6840924ba8a8e1a1f2</p>
{% endblock %}
