{% extends "article_block.jinja" %}

{% set date = "2003-11-21" %}
{% set order = 1 %}
{% set title = "T00c3e3e8cec6" %}
{% set tag_list = ['tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content cd7fcc31a1d6337850d94af9d32b9baf242dc5cc68d1c4352c9def89c2c4dfdb</p>
{% endset %}
