{% extends "article_block.jinja" %}

{% set date = "2003-11-06" %}
{% set filename = "fnT1422354f90bc" %}
{% set order = 2 %}
{% set title = "T1422354f90bc" %}
{% set tag_list = ['tag-0', 'tag-1', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 98229d2ac658f9d50e418e40a13c75bb961e48f47cdc16b8bb1a438ad0f3931f</p>
{% endset %}
