{% extends "article_block.jinja" %}

{% set date = "2003-11-16" %}
{% set order = 0 %}
{% set title = "T91b50c0b6636" %}
{% set tag_list = ['tag-0', 'tag-2', 'tag-3'] %}

{% set content %}
<p>content 65fd488e16a3bc4956f9303205685333f352ecfbf1785f73a759433b212c1f90</p>
{% endset %}
