{% extends "article.html.jinja" %}

{% set date = "2003-11-07" %}
{% set order = 1 %}
{% set title = "T5c031b397cf5" %}
{% set tag_list = ['tag-3'] %}

{% block article %}
<p>content 2bb772b78865647e7b62be6a6b4532ed5cc2dbfbbf08406d6d304293c398f0d1</p>
{% endblock %}
