{% extends "article_block.jinja" %}

{% set date = "2003-11-14" %}
{% set order = 1 %}
{% set title = "T0f3ca763dcd8" %}
{% set tag_list = ['tag-1', 'tag-3'] %}

{% set content %}
<p>content 2933f03bf6fc34fcc77a93011e45b856131b5405fb53f3b3a1c9aafc3b718d55</p>
{% endset %}
